/**********************************CUERPO**********************************************************/
body {
    font-family: 'Dancing Script', cursive;
    background-color: #02010a;
}

/**********************************Clase Contenido**********************************************************/
.contenido {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
}

/********************************************************************************************/
.contenido-cabecera {
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    padding: 30px;
    color: white;
    text-align: left;
    text-shadow: 2px 2px 2px #02010a;
}

nav {
    float: right;
    vertical-align: middle;
}

nav > a {
    color: inherit;
    font-size: 16px;
    text-shadow: 0px 0px 0px #000000;
}

nav > a#actual {
    text-decoration: none;
}

/********************************************************************************************/
.section-principal {
    margin: 0px;
    padding: 15px;
    background: #82c3a6;
}

img {
    box-shadow: 2px 2px 2px #02010A;
}

img#imgPrincipal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
/********************************************************************************************/
.section-secundaria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #d5c75f;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
}
.section-secundaria-imgDer{
    padding: 15px;
}
.section-secundaria-imgIzq{
    padding: 15px;
}
#imgIzq {
    border: 1px black solid;
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#imgDer {
    border: 1px black solid;
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#imgIzq:first-child:hover{
    transform: rotateZ(10deg);
    box-shadow:2px 2px 2px #82c3a6;
    border: 2px black solid;
}
#imgDer:first-child:hover{
    transform: translate(20px, -5px);
    box-shadow:2px 2px 2px #82c3a6;
    border: 2px black solid;
}
.pie-de-pagina{
    margin: 0;
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -webkit-align-items: flex-start;
}
ul>li{
    list-style: none;
    text-decoration: none;
}

/********************************************************************************************/
.paisajes {
    margin: 0;
    background: #d5c75f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: space-around;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
}
.paisajes>div {
    margin-bottom: 15px
}

.paisajes>div>img {
    flex: 1 1;
    -webkit-flex:0 0;
    border: 1px black solid;
    width: 250px;
}
.paisajes>div:first-child>img {
    filter: blur(10px);
}
.paisajes>div:nth-child(3)>img {
    filter: sepia(90%);
}
.paisajes>div:nth-child(even)>img {
    filter: grayscale(100%);
}
#imgP01 {
    order: 1;
    margin-top: 15px;
}
#imgP02 {
    order: 2;
    margin-top: 15px;
}
#imgP03 {
    order: 3;
    margin-top: 15px;
}
#imgP04 {
    order: 4;
}
#imgP05 {
    order: 5;
}
#imgP06 {
    order: 6;
}
/**********************************************************************************************/
.retratos {
    margin: 0;
    background: #d5c75f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: space-around;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
}
.rettratos>div {
    margin-bottom: 15px
}

.retratos>div>img {
    flex: 1 1;
    -webkit-flex:0 0;
    border: 1px black solid;
    width: 250px;
}
.retratos>div:first-child>img {
    filter: blur(10px);
}
.paisajes>div:nth-child(3)>img {
    filter: sepia(90%);
}
.retratos>div:nth-child(even)>img {
    filter: grayscale(100%);
}
#imgR01 {
    order: 1;
    margin-top: 15px;
}
#imgR02 {
    order: 2;
    margin-top: 15px;
}
#imgR03 {
    order: 3;
    margin-top: 15px;
}
#imgR04 {
    order: 4;
}
#imgR05 {
    order: 5;
}
#imgR06 {
    order: 6;
}


/********************************************************************************************/


/*Aplicando Estilos Responsive*/
@media (max-width: 899px) {

    .contenido {
        margin: 0px;
        width: 100%;
    }
    nav {
        float: none;
    }
    #imgPrincipal {
        width: 100%;
    }
    #imgDer{
        width: 100%;
    }
    #imgIzq{
        width: 100%;
    }
    .section-secundaria{
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .pie-de-pagina{
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .pie-de-pagina>div{
        width: 100%;
        max-width: 320px;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /******* Paisajes responsive *******/

    .paisajes {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .paisajes>div {
        width: 100%;
    }
    #imgP02 {
        margin-top: 0px;
    }
    #imgP03 {
        margin-top: 0px;
    }
    #imgP04 {
        margin-bottom: 15px;
    }
    #imgP05 {
        margin-bottom: 15px;
    }
    #imgP06 {
        margin-bottom: 15px;
    }

    .paisajes>div>img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
    }
}

